@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  display: none;
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

:root {
  --radial-gradient-background: 250, 250, 250;
  --solid-color-background: 15, 15, 15;
  --overlay-color: 255, 255, 255;
}

html {
  background-color: black;
  color: white;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  margin: 0;
  letter-spacing: -0.03em;
  overflow-x: hidden;
  scroll-behavior: unset;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  .h0 {
    @apply heading-base text-[4rem] md:text-[10rem] tracking-tighter;
  }

  h1,
  .h1 {
    @apply heading-base text-6xl md:text-7xl;
  }

  h2,
  .h2 {
    @apply heading-base text-3xl md:text-6xl;
  }

  h3,
  .h3 {
    @apply heading-base tracking-tight text-[clamp(1.5rem,4vw,3.75rem)];
  }

  /* section,
  header,
  footer {
    @apply px-4 py-2 md:px-12 md:py-4;
  } */
}

@utility heading-base {
  @apply text-2xl font-bold tracking-tight leading-tight;
}

@layer components {
  .link {
    @apply uppercase;
  }

  .nav-link {
    @apply text-sm font-light text-neutral-400 hover:text-neutral-300 transition-all;
  }

  .subheading {
    @apply text-lg font-light text-neutral-400 uppercase text-right md:text-right;
  }
}

@theme {
  --spacing-sectionX-m: 1.5625rem;
  --spacing-sectionX: 3.125rem;
  --spacing-sectionY-m: 1.5625rem;
  --spacing-sectionY: 12.5rem;
  --spacing-xs: 2.34375rem;
  --spacing-sm: 4.6875rem;
  --spacing-md: 9.375rem;
  --spacing-lg: 18.75rem;
  --spacing-xl: 25rem;
  --animate-scroll: scroll 2s ease infinite;

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(60px);
    }
  }
}

/* Styles for Shiny Button */

.radial-gradient {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(var(--radial-gradient-background), 0.05) 0%,
      transparent 60%
    )
    rgba(var(--solid-color-background), 1);
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
    rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
  );
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar on IE/Edge */
  scrollbar-width: none; /* Hide scrollbar on Firefox */
}
